<div class="container-fluid col-md-4 text-center">
  <% level = (@game.level == 0) ? 'BONUS ROUND' : @game.level %>
  <h3> Score: <%= @game.score %> </h3>
  <h5> Round:  <%= level %>, Question: <%= @game.question_count %></h3>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3><%= @question.value %></h3>
      </div>
      <div class="modal-body">
        <div class="col-xs-3 5"> </div>
        <div class="quiz" id="quiz">
          <% if @is_correct == 'Correct!' %>
            <label class="element-animation1 btn btn-lg btn-success btn-block">
          <% else %>
            <label class="element-animation1 btn btn-lg btn-danger btn-block">
          <% end %>
            <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <p>Correct Answer: <%= @correct_answer.value %></p>
            <p>User Answer: <%= @active_answer.value %></p>
            <p>Result: <%= @is_correct %></p>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= link_to 'Next Question', games_play_path, class: "btn btn-dark" %>
  </div>
</div>